{% extends "base.html" %}

{% block content %}
<a href="{{url_for('activity.activity_get')}}" class="button button-warning pd-5">Add new activity</a>
 <h1 class="">Activities History</h1>
  <div class="d-inline-flex justify-content-center">
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>#</th>
        <th>Type</th>
        <th>Calories</th>
        <th>Duration</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% if activities %}
        {% for activity in activities %}
          <tr>
            <td>{{ activity.id }}</td>
            <td>{{ activity.type }}</td>
            <td>{{ activity.calories }}</td>
            <td>{{ activity.activity_time }}</td>
            <td>{{ activity.datetime }}</td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="5">No activities so far, try adding a new one!</td>
        </tr>
      {% endif %}
      <!-- Add more rows as needed -->
    </tbody>
  </table>
  </div>
{% endblock %}